.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  & > .projects-item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

.projects-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
}

.projects-image {
  position: relative;
  overflow: hidden;
}

.projects-top-text {
  position: absolute;
  top: 0;
  @include font(null, 18px, 1.56, 0.03em, var(--third-text-color));
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms linear;
  .projects-item:hover & {
    transform: translateY(0);
  }
}

.projects-title {
  @include font(700, 18px, 2, 0.06em, var(--main-text-color));
  margin-bottom: 4px;
}

.projects-text {
  @include font(null, null, 1.88, 0.03em, var(--second-text-color));
}

.projects-title-text {
  padding: 20px 24px 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
