.footer-form {
  /* border: 1px solid red; */
  margin-left: 93px;
}

.footer-form-sub {
  display: flex;
  align-items: center;
}

.footer-form-text {
  @include font(700, 14px, 1.33, 0.03em, var(--third-text-color));
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-form-email {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  margin-right: 12px;
  color: var(--third-text-color);
}

.footer-btn-sub {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  @include font(700, 16px, 1.88, null, var(--third-text-color));
  border: none;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 8px 28px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: #188ce8;
  }
}

.footer-form-icon {
  margin-left: 10px;
}
