.modal-title {
  @include font(700, 20px, 1.15, 0.03em, var(--main-text-color));
  text-align: center;
  margin-bottom: 12px;
}

.modal-field {
  margin-bottom: 20px;
}

.input-wrap {
  position: relative;
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .modal-input:focus + & {
    fill: var(--accent-text-color);
  }
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
  outline: none;
  &:focus {
    border-color: var(--accent-text-color);
  }
}

.modal-label {
  @include font(null, 12px, 1.67, 0.01em, var(--second-text-color));
}

.modal-text {
  @include font(null, 12px, 1.16, 0.01em, var(--second-text-color));
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding-left: 16px;
  padding-top: 12px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--accent-text-color);
  }
  &::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-label-text {
  display: block;
  margin-bottom: 4px;
}

.modal-btn {
  width: 200px;
  height: 50px;
  background: #2196f3;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
}

.modal-btn-text {
  font-family: inherit;
  @include font(700, 16px, 1.88, 0.06em, var(--third-text-color));
  text-align: center;
}

.policy-text {
  @include font(null, 14px, 1.71, 0.03em, var(--second-text-color));
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  &::before {
    content: "";
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 3px;
    margin-right: 7px;

    .modal-policy:checked + & {
      background-color: var(--accent-text-color);
      border: none;
      background-image: url(../images/check.svg);
      background-repeat: no-repeat;
      background-position: center;
    }

    .modal-policy:focus + & {
      border-color: var(--accent-text-color);
    }
  }
}

.policy-link {
  @include font(null, 14px, 1.71, 0.03em, var(--accent-text-color));
  text-decoration-line: underline;
  margin-left: 5px;
}
